body {
    margin: 0px;
    color: #020202;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
}

.hero {
    background-image: url(./img/faded-office.png);
    background-size: cover;
    padding:  20px 1px 50px 30px;
    border: 2px solid;
    width: 575px;
    margin: 40px auto;
}

.title {
    margin-bottom: 18px;
    width: 250px;
    font-weight: 1000;
    font-size: 36px;
}

.text {
    width: 250px;
    font-size: 17px;
    font-weight: 500;
}

.underline {
    color: blue;
    border-bottom: 3px solid #0ea5e9;
}

.btn {
    margin-top: 12px;
    color: white;
    font-weight: bold;
    background-color: #0ea5e9;
    border: none;
    padding: 14px 23px;
}